{% extends "members/base.html" %}

{% block title %} Members Site{% endblock %}
{% block head %}  Members Site{% endblock %}

   
{% block content %}
 
    <p>{{message}}</p>
 
    <h1>Braintree Customer Form</h1>
      <form action="/create_customer/" method="POST" id="braintree-payment-form">

        {% csrf_token %}
      <h2>Customer Information</h2>
      <p>
        <label>First Name</label>
        <input type="text" name="first_name" id="first_name"></input>
      </p>
      <p>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name"></input>
      </p>
      <p>
        <label for="postal_code">Postal Code</label>
        <input type="text" name="postal_code" id="postal_code"></input>
      </p>
      <h2>Credit Card</h2>
      <p>
        <label>Card Number</label>
        <input type="text" size="20" autocomplete="off" data-encrypted-name="account" />
      </p>
      <p>
        <label>CVV</label>
        <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" />
      </p>
      <p>
        <label>Expiration (MM/YYYY)</label>
        <input type="text" size="2" data-encrypted-name="month" /> / <input type="text" size="4" data-encrypted-name="year" />
      </p>
      <input class="submit-button" type="submit" />
    </form>
    <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script>
      var braintree = Braintree.create("{{client_side_key}}");
      braintree.onSubmitEncryptForm("braintree-payment-form");
    </script>
{% endblock %}
