{% extends "members/base.html" %}
{% load humanize %}

{% block title %} Members Site{% endblock %}
{% block head %}  Members Site{% endblock %}

{% block content %}

{% if info_messages != None %}
    {% for info_message in info_messages %}
    <div class="alert alert-info">
        {{info_message}}
    </div>
    {% endfor %}

{% endif %}
{% if success_messages != None %}

    {% for success_message in success_messages %}
    <div class="alert alert-success">
        {{success_message}}
    </div>
    {%endfor%}

{% endif %}
{% if error_messages != None  %}

    {% for error_message in error_messages %}
    <div class="alert alert-warning">
        {{error_message}}
    </div>
    {% endfor%}

{% endif %}

<h1>801 Labs Recurring Membership Plans</h1>
<p>Please note that payments for all monthly plans will be deducted on the 26th of each month.</p>
<p>Yearly plans are billed immediately and will renew 12 months from when they were last charged.</p>

<hr>
<div class="">
    <a class="btn btn-link btn-lg" href="/payment/methods/">Manage Payment Methods</a>
    <a class="btn btn-link btn-lg" href="/payment/history/">Payment History</a>
</div>

{% if subscription != None  %}
    <hr>
    <div class="alert {% if subscription.status == 'Pending' %}alert-warning{% elif subscription.status == 'Canceled' %}alert-danger{% else %}alert-info{% endif %}">
        <h3>
            Current Plan
            <br>
            <small>{{subscription.status}}</small>
        </h3>
        <div class="row">
            <div class="col-sm-6">
                <div>Plan: <strong>{{subscription.plan_id}}</strong></div>
                <div>Created <strong>{{subscription.created_at|naturaltime}}</strong></div>
                <div>Payment Amount: <strong>${{subscription.next_billing_period_amount}}</strong></div>
                <div>Next Billing Date: <strong>{{subscription.next_billing_date}}</strong></div>
            </div>
            
            {% if payment_method %}
                <div class="col-sm-6">
                    <br>
                    <img src="{{payment_method.image_url}}" alt="{{payment_method.card_type}}">
                
                    &nbsp; &nbsp;

                    Card: {{payment_method.last_4}}

                    &nbsp; &nbsp;
                
                    Expires: {{payment_method.expiration_month}}/{{payment_method.expiration_year}}
                </div>
            {% endif %}

            <div class="col-xs-12 text-right">
                <hr>
                <form action="/subscriptions/" method="POST" id="braintree-cancel-subscription-form">
                    {% csrf_token %}
                    <input type="hidden" name="method" value="cancel">
                    <input type="submit" class="btn btn-danger" value='Cancel Payment'>
                </form>
            </div>
        </div>
    </div>
{% endif %}

<hr>

{% if plans != None  %}
    <div class="table-responsive">
        <table class="table table-striped" align="center">
            <thead>
            <tr>
                <th scope="col">Plan Name</th>
                <th scope="col" nowrap>Plan Price</th>
                <th scope="col">Plan Description</th>
            </tr>
            </thead>
            <tbody>
            {% for plan in plans %}
                <tr>
                    <td>{{plan.name}}</td>
                    <td>${{plan.price}}</td>
                    <td>{{plan.description}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>    
    </div>
{% endif %}
 
{% if subscription is None  %}
<h2>Add Plan</h2>
{% else %}
<h2>Update Plan</h2>
{% endif %}
<form action="/subscriptions/" method="POST" id="braintree-subscribe-form">
    {% csrf_token %}

    <input type="hidden" name="method" value="{% if subscription is None %}subscribe{% else %}update{% endif %}" id="subscribe_method"/>
    
    <div class="form-group">
        <label for="subscription-select">Plan Level</label>
        <select value="subscription-select" name="plan_id" class="form-control" required>
            <option></option>
            {% for plan in plans %}
                <option value="{{plan.id}}" {% if subscription and subscription.plan_id == plan.id %}selected{% endif %}>
                    {{plan.name}} ${{plan.price}}{% if plan.billing_frequency == 1 %}/month{% elif plan.billing_frequency == 12 %}/year{% else %} every {{plan.billing_frequency}} months{% endif %}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
        </div>
    </div>

    <input type="hidden" id="nonce" name="payment_method_nonce" />

    <input class="btn btn-default pull-right" type="submit"  value="Subscribe" />
</form>

<script src="https://js.braintreegateway.com/web/dropin/1.14.1/js/dropin.min.js"></script>
<script>
var form = document.querySelector('#braintree-subscribe-form');
var client_token = '{{ client_token }}';
braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
}, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
    event.preventDefault();
    instance.requestPaymentMethod(function (err, payload) {
        if (err) {
        console.log('Error', err);
        return;
        }
        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
    });
    });
});
</script>

{% endblock %}
