{% extends "members/base.html" %}

{% block title %}   Members Site{% endblock %}
{% block head %}    Members Site{% endblock %}

{% block content %}
<p>For more information please send an email to board <b>"at"</b> 801labs dot org 
or feel free to contact us on any of these social media platforms.</p>
<p>
<a href="http://www.meetup.com/thetransistor/">The Transistor & 801 Labs Meetup Page</a>
  </br>
  <a href="http://www.reddit.com/r/dc801">DC801 Reddit</a>
  <br/>
  <a href="http://webchat.freenode.net/">Free Node Web Client</a>
  <br/>
  <a href="https://twitter.com/801labs">@801Labs Twitter</a>
  </p>
{% endblock %}
