{% extends "members/base.html" %}

{% block title %}   Members Site{% endblock %}
{% block head %}    Members Site{% endblock %}

{% block content %}
    {% if user.handle %}
    <p>Welcome</p>
    <p> {{ user.handle }}</p>
    <p>{{message}}</p>
    {% else %}
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="/static/img/hangout.jpg" class="thumbnail">
      <img src="/static/img/hangout.jpg" alt="801 Labs Hangout Room"></img>
    </a>
    <div class="caption">
        <h3>Hangout Room</h3>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/static/img/assemblynight.jpg" class="thumbnail">
      <img src="/static/img/assemblynight.jpg" alt="Assembly Language Night"></img>
    </a>
    <div class="caption">
        <h3>Assembly Language Night</h3>
    </div>
</div>
  <div class="col-xs-6 col-md-3">
    <a href="/static/img/soda.jpg" class="thumbnail">
      <img src="/static/img/soda.jpg" alt="Soda Fridge"></img>
    </a>
    <div class="caption">
        <h3>Soda Fridge</h3>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/static/img/locks2.jpg" class="thumbnail">
      <img src="/static/img/locks2.jpg" alt="SaintCON Lock Picking Village"></img>
    </a>
    <div class="caption">
        <h3>Saintcon Lock Picking Room</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="/static/img/locks.jpg" class="thumbnail">
      <img src="/static/img/locks.jpg" alt="SaintCON Lock Picking Village"></img>
    </a>
    <div class="caption">
        <h3>Saintcon Lock Picking Room</h3>
    </div>
</div>
  <div class="col-xs-6 col-md-3">
    <a href="/static/img/801labsoutside.jpg" class="thumbnail">
      <img src="/static/img/801labsoutside.jpg" alt="801labs Building"></img>
    </a>
    <div class="caption">
        <h3>801 Labs Building</h3>
    </div>
</div>
  <div class="col-xs-6 col-md-3">
    <a href="/static/img/portalan.jpg" class="thumbnail">
      <img src="/static/img/portalan.jpg" alt="Porta Lan"></img>
    </a>
    <div class="caption">
        <h3>Porta Lan</h3>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/static/img/opening_night.jpg" class="thumbnail">
      <img src="/static/img//opening_night.jpg" alt="Opening Night"></img>
    </a>
    <div class="caption">
        <h3>Opening Night</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="/static/img/600_449191366.jpeg" class="thumbnail">
      <img src="/static/img/600_449191366.jpeg" alt="Laser Cutter">
    </a>
    <div class="caption">
        <h3>Laser Cutter</h3>
    </div>
  </div>
    
      <div class="col-xs-6 col-md-3">
    <a href="/static/img/600_449191372.jpeg" class="thumbnail">
      <img src="/static/img/600_449191372.jpeg" alt="Retro Pies">
    </a>
    <div class="caption">
        <h3>Retro Pies</h3>
    </div>
  </div>
    
          <div class="col-xs-6 col-md-3">
    <a href="/static/img/600_449191379.jpeg" class="thumbnail">
      <img src="/static/img/600_449191379.jpeg" alt="Lock Picking Lab">
    </a>
    <div class="caption">
        <h3>Lock Picking Lab</h3>
    </div>
  </div>
     <div class="col-xs-6 col-md-3">
    <a href="/static/img/600_449191382.jpeg" class="thumbnail">
      <img src="/static/img/600_449191382.jpeg" alt="Lock Picking Lab">
    </a>
    <div class="caption">
        <h3>Lock Picking Lab</h3>
    </div>
  </div>
    
</div>
  {% endif %}
{% endblock %}
