{% extends "members/base.html" %}

{% block title %}Hackerspace Salt Lake City, Utah{% endblock %}
{% block head %}   {% endblock %}

{% block content %}
    {% if user.handle %}
    <p>Welcome</p>

    <p> {{ user.handle }}</p>

    <p>Question about your membership contact <a href='mailto:board@801labs.org'>board@801labs.org</a></p>
    <p>To sign up for a monthly recurring membership please go to the subscription page and select your membership level.
    We do provide the option for manual memberships payment, but we request all payments be made on or before the 26th of the month to maintain your membership.
    Members mailing list</br></br> <a href="https://www.dc801.org/mailman/listinfo/801labs">https://www.dc801.org/mailman/listinfo/801labs</a>
    </p>

    <p>{{message}}</p>

    <p><h2>Member Events</h2>


    {% else %}
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/801labs1.jpg" alt="First slide">
          <div class="container">
              <div class="carousel-caption">
            <br/>
              <p></p>
              <p></p>
              <p><a class="btn btn-lg btn-primary" href="https://www.801labs.org/register/" role="button">Sign Up Today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/801labs-04.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Memberships</h1>
              <p>Memberships help support the hackerspace and gives you access to the space.</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.801labs.org/member_info/" role="button">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/members1.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Events</h1>
              <p>801 Labs Events</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.801labs.org/gallery/" role="button">Browse Gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/locks.jpg" alt="Fourth slide">
          <div class="container">
              <div class="carousel-caption">
                <br/>
                <br/>
                <br/>
              <h1>Lock Picking</h1>
            </div>
          </div>
      </div>
       <div class="item">
          <img src="/static/img/soldering.jpg" alt="Fith slide">
          <div class="container">
              <div class="carousel-caption">
                <br/>
                <br/>
              <h1>Soldering Irons </h1>
            </div>
          </div>
      </div>
   <div class="item">
          <img src="/static/img/classroom.jpg" alt="Sixth slide">
          <div class="container">
              <div class="carousel-caption">
                <br/>
                <br/>
              <h1>Classes</h1>
              <p><a class="btn btn-lg btn-primary" href="https://www.801labs.org/classes/" role="button">801 Labs Classes</a></p>
            </div>
          </div>
      </div>


    </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div><!-- /.carousel -->
  <h2 align='Center'> A Community Hackerspace of <br/>Information Technology, Electronic, and Information Security Enthusiasts</h2>

  <br/>
  <h4>What is a Hackerspace?</h4>
  <p><b> 801 Labs</b> is a hackerspaces created by the members of <a href="http://www.dc801.org">DC801</a> that was formally <a href="http://thetransistor.com/category/news/slc-transistor-location/">TransistorSLC</a>. 801 Labs was created to be a center for peer learning and knowledge sharing, in the form of workshops, presentations, and lectures. We also offer social activities to the community and our members, such as game nights and parties. Hackerspaces can be viewed as open community lab incorporating elements of workshops and/or studios where hackers can come together to share resources and knowledge.</p>
  </br>
  <h4>Interest of the members of 801 Labs</h4>
  <p>Core interests in the attending group included: InfoSec, Security, Information and Physical (lockpicking, etc) Routers, Switches, Firewalls, Servers, etc Ruby, Javascript, C++, PHP, etc Metaploit, Wireshark, Nessus, NMap, Netcat, and so on Linux, BSD, Unix, (even windows), etc Arduino, Pic, Arm, Propeller, etc Automotive, Microbrewing, etc </p>

  </br>
  <h4>Events</h4>
  <p> 801 Labs holds public meetings periodically which includes theme nights, classes, CTF events, and other projects. You can reach us on freenode at #801labs, #DC801, or on reddit.</p> 
  </p>
  <a href="http://www.meetup.com/thetransistor/">The Transistor & 801 Labs Meetup Page</a>
  </br>
  <a href="http://www.reddit.com/r/dc801">DC801 Reddit</a>
  <br/>
  <a href="http://webchat.freenode.net/">Free Node Web Client</a>
  <br/>
  <a href="https://twitter.com/801labs">@801Labs Twitter</a>
  <br/>
  <a href="https://www.youtube.com/channel/UC7TNs0i55FMA9h9wi9xrR2A">801 Labs You Tube</a>
  <br/>
  <a href="https://plus.google.com/115282153036887718896/about">Google Plus</a>
  <br/>
 
  <br/>
  <h4 align='center'>Internet at 801 Labs provided by Xmission</h4>
  <!-- XMission Green Banner -->
  <p align=center>
  <a href="http://xmission.com/?cid=donatedgreen3"><img src="http://asset.xmission.com/images/banners/xm_green.jpg" border=0 alt="XMission"></a>
  </p>
  <!-- End XMission Green Button -->

<br/>
<br/>
<p class="lead" align='center'>801 Labs is located in the middle of Downtown SLC. Between the Twilite Lounge and Crown Burger.<p>
<address>
<strong>801 Labs</strong><br>
353 East 200 South Suite #B <br>
Salt Lake City, UT 84111<br>
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.8485280212035!2d-111.8828484842727!3d40.765356142285825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f572b2a9a799%3A0x383ba8b422af2b1d!2s801Labs!5e0!3m2!1sen!2sus!4v1545050740889" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  {% endif %}
{% endblock %}
