{% extends "members/base.html" %}

{% block title %}   Members Site{% endblock %}
{% block head %}    Members Site{% endblock %}
{%block header_includes %}
 <style>
      #map_canvas {
        width: 500px;
        height: 400px;
        background-color: #CCC;

      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    function initialize() {
    
    var myLatlng = new google.maps.LatLng(40.7594509, -111.8714389);

    var mapCanvas = document.getElementById('map_canvas');
    var mapOptions = {
      center: myLatlng,
      zoom: 13,
      mapTypeId: google.maps.MapTypeId.ROADMAP
  }

  var map = new google.maps.Map(mapCanvas, mapOptions);

   var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: '801 Labs Hacker Space'
    });


  }
 
  google.maps.event.addDomListener(window, 'load', initialize);

</script>


 
{% endblock %}

{% block content %}
    {% if user.handle %}
    <p>Welcome</p>
    <p> {{ user.handle }}</p>
    <p>{{message}}</p>
    {% else %}
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/801labs-02.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>801 Labs Hacker Space</h1>
              <p>A community of Information Technology, Infomation Security, and Electronics Enthusiast</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.801labs.org/register/" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/801labs-04.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Memberships</h1>
              <p>Memberships help support the hackerspace and gives you access to the space.</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.801labs.org/member_info/" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/801labs-03.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Events</h1>
              <p>801 Labs Events</p>
              <p><a class="btn btn-lg btn-primary" href="https://www.801labs.org/gallery/" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div><!-- /.carousel -->
          <p class="lead">801 Labs is located in the middle of Downtown SLC.<p>
<address>
<strong>801 Labs</strong><br>
440 S 700 E Suite #102 <br>
Salt Lake City, UT 84102<br>
</address>

<p class ="lead">Best way to support our group is to become a member of the 801labs hacker space.</p>

<div id="map_canvas"></div>


  {% endif %}
{% endblock %}
