{% extends "members/base.html" %}

{% block title %}   Members Site{% endblock %}
{% block head %}    Members Site{% endblock %}

{% block content %}
<div class="panel panel-default">
   <div class="panel-heading">User groups who meet @ 801 Labs</div>
   <div class="panel-body">
      <div class="media">
         <div class="media-left">
            <a href="https://www.dc801.org">
            <img class="media-object" src="/static/img/defcon-utah.png" width="64" height="64"  alt="dc801">
            </a>
         </div>
         <div class="media-body">
            <h4 class="media-heading">DC801</h4>
            DC801 is the local DEF CON user group that meets every Thursday at 801 labs. Presentations from DC801 focus on information and general security.
         </div>
         <br/>
         <br/>
      </div>
   </div>
</div>
{% endblock %}
